<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Home Page</title>

    <!-- External References -->


    <!-- Style Sheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/bottom-bar.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/cart.js"></script>

  </head>


  <body>
    <nav class="navbar">
      <i class="fas fa-bars"></i>
      <i class="fas fa-shopping-bag"></i>
      <div class='userInfo'></div>

      <div class="navRight">


        <div class="loginFields"></div>
        <div class="registerFields"></div>
        </div>



    </nav>
    <header class="page-header">Big Picture Goes here!

    </header>

    <main class="main">
      <section class="menu">MENU
        <button type="button" id="menuItemsButton" class="btn btn-primary">Menu</button>
        <div class="menu-listed-items">

        </div>

      </section>
  <section class="individualItem"></section>
      <div class="three-sections">
        <section class="time">time until pickup</section>
        <section class="promotions">promotions</section>
        <section class="info">INFO</section>
      </div>

    </main>

  </body>
</html>
