<!DOCTYPE html>
<html lang="en">
  <head>

    <title>TAYST - Home Page</title>

    <link rel="shortcut icon" href="#">

    <!-- External References -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/menu.css" type="text/css" />
    <link rel="stylesheet" href="/styles/bottom-bar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css">

    <!-- Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/ajax-gets.js"></script>
    <script type="text/javascript" src="/scripts/ajax-posts.js"></script>

  </head>


  <body>
    <nav class="navbar">
      <div class="navLeft">
        <ul class="linksL">
          <li>
            <i id="user-slide-down" class="fas fa-bars"></i>
            <ul class='userInfo'>
              <div class="editInfo">User Information</div>
            </ul>
          </li>
          <li class="shopping-cart dropdown">
            <div class="notification">
              <i id="shopping-cart" class="fas fa-shopping-bag"></i>

            </div>
            <ul class="shopping-cart-view"></ul>
          </li>
        </ul>
      </div>
      <div class="navCenter">
        <a href="#" class="logo">Tayst<span>+<span></a>
      </div>
      <div class="navRight">
        <ul class="links">
          <ul class="loginFields"></ul>
          <ul class="registerFields"></ul>
        </ul>
      </div>
    </nav>

    <header class="page-header">
    </header>

    <main class="main">
      <section class="menu">
        <i class="far fa-arrow-alt-circle-left"></i>

        <div class="menu-listed-items">
        </div>
        <i class="far fa-arrow-alt-circle-right"></i>

      </section>
      <section class="individualItem"></section>
      <div class="confirmation-message"></div>
      <div class="three-sections">
        <section id="time">
          <p>Time until pickup</p>
          <div id="hours"></div>
          <div id="minutes"></div>
          <div id="seconds"></div>
        </section>
        <section class="promotions">
          <img class='promo' src="https://e.linenchest.com/fit-in/1200x1200/images/misc/rebates/10OFF_EN_2019.png">
        </section>

        <section class="info">
          <div id="directions"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26235.59627217341!2d-115.8280293541452!3d37.2387420700357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80b81baaba3e8c81%3A0x970427e38e6237ae!2sArea%2051%2C%20NV%2C%20USA!5e0!3m2!1sen!2sca!4v1620327742284!5m2!1sen!2sca" loading="lazy"></iframe></div>
        </section>
      </div>

    </main>
    <div class="checkout-confirmation">
    </div>
    <footer class="footer">
      <div class="socials">
        <span class="twtr"><i class="fab fa-twitter"></i></span>
        <span class="insta"><i id='insta' class="fab fa-instagram aria-hidden='true"></i></span>
        <span class="contact"><i class="far fa-envelope"></i></span>
      </div>
    </footer>
  </body>
</html>
