.three-sections {
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* border-style: solid;
  border-color: black; */
}

#time {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:150px;
  width:200px;
  padding:30px 0;
  margin:10px;
  font-family:'Noto Sans KR', sans-serif;
  font-size:24px;
  border:1px solid black;
  box-shadow:1px 1px 1px grey;
  border-radius:3px;

  p{
    font-size:20px;
    text-transform:uppercase;
    padding: 0 7px;
    margin: 10px 0;
  }
}

#directions iframe{
  height:300px;
  width:400px;
  background-color:grey;
}
