// See: https://sass-lang.com/

body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }
}

main {
  height: 100vh;
}

.checkout-confirmation {
  display: none;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  min-width: 20em;
  border-style: solid;
  background-color: white;
  z-index: 20;
  min-height: 20em;
  padding: 2em;
}

.checkout-title {
  justify-content: start;
  z-index: 30;
}
