.menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin:15px 0;
  position:relative;
  top: -100px;
}

.menu-listed-items {

  cursor: pointer;
  display: flex;
  flex-direction: row;
  background-color: #5e3602;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood.png");
  box-shadow: 2px 2px 4pc black;
  padding: 1em;
  width: 650px;
  height: 200px;
  overflow-y: auto;
  overflow-x: scroll;
  overflow-x: hidden;
  overflow-y: hidden;
}

.menuItems {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color:white;
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 34px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}
.menuItems img {
  border:2px solid black;
  box-shadow: 2px 2px 2px darkgrey;
  margin:7px 0;
}

btn.btn-secondary{

  display: flex;
  flex-direction: row;
}

.menuItem {
  height: 420px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 20px;
  margin-top: 34px;
  margin-bottom: 34px;
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.individualItem {
  display:flex;
  justify-content:center;
  border:1px solid black;
  background-color:#D9D9D9;
  min-width: 40%;
  border-radius:5px;
  box-shadow:3px 3px 5px lightgrey;
  margin-bottom:30px;
  position: relative;
  top: -50px;
}

.far.fa-arrow-alt-circle-left {
  padding-right: 24px;
  font-size: 42px;
  position: relative;
  top: 50px;
}

.far.fa-arrow-alt-circle-right {
  padding-left: 24px;
  font-size: 42px;
  position: relative;
  top: 50px;
}

.far.fa-arrow-alt-circle-left:hover {
  color: blue;
  cursor: pointer;
}

.far.fa-arrow-alt-circle-right:hover{
  color: blue;
  cursor: pointer;
}

.menu-text {
  display: flex;
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.image{
  padding-top: 24px;
  size: 300px;
  height: 300px;
  width: 300px;
  border:1px solid grey;
  box-shadow:2px 2px 2px lightgrey;
  background-color:white;
  border-radius:5px;
}

#add-to-cart {
  margin-top: 12px;
}

#quantity {
  text-align: center;
}

#add-to-cart:active {
  background-color:blue;
}


.alert {
  width: 500px;
  padding: 20px;
  background-color: #F44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.confirmation-message {
  display: flex;
  justify-content: center;
}


// .leftarrow, .rightArrow {
//   position: relative;
//   border: 1px solid black;
//   background-color: darkgrey;
//   height: 200px;
//   width: 30px;
// }

// .leftArrow {
//   left: 30px;

// }
// .fas.fa-chevron-right, .fas.fa-chevron-left {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 180px;
// }
